---
layout: default
keywords: home, about
---
<section class="pb_section homepage">
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-lg-7">
				<h1 class="title font-weight-normal mb-3">SSF Blog</h1>
				<p class="mb-5">The SSF blog is the place to go for all sorts of SEBS Scholarship Foundation news! Here
					you can find scholarship updates, volunteering news, announcements, and other fun information we'd
					like to share!</p>
			</div>
		</div>
		<div class="row justify-content-md-center text-left">
			<div class="col-lg-7">
				<h2 class="font-weight-normal mb-5">Blog Posts</h2>
				<div class="blog-feed-container">
					<div class="blog-feed">
						<!-- Add posts to feed -->
						{% for post in paginator.posts %}
						<a href="{{ post.url }}">
							<div class="feed-item">
								<h3>{{ post.title }}</h3>
								<p class="mb-3">{{ post.content | strip_html | truncatewords:50 }}</p>
								<p class="date">Published on {{ post.date | date: "%b %d, %Y" }} by {{ post.author }}
								</p>
							</div>
						</a>
						{% endfor %}
					</div>
					<div id="blog-feed-mask"></div>
				</div>
				<!-- Setup navigator -->
				{% if paginator.total_pages > 1 %}
				<div class="pagination">
					<ul class="pagination">
						<li>
							{% if paginator.previous_page %}
							<a href="{{ paginator.previous_page_path }}">&laquo;
								Prev</a>
							{% endif %}
						</li>
						{% for page in (1..paginator.total_pages) %}

						<!-- Check if we need to compact yet -->
						{% if page > 3 and paginator.total_pages > 5 %}
						{% if page == paginator.page %}
						<li class="notSelected">...</li>
						<li><span class="currentPage">{{ page }}</span></li>
						{% elsif page == paginator.total_pages %}
						<li class="notSelected">...</li>
						<li><a class="notSelected" href="{{ site.url | append: "/page" | append: paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
						{% endif %}

						<!-- If we don't need to compact -->
						{% else %}
						{% if page == paginator.page %}
						<li><span class="currentPage">{{ page }}</span></li>
						{% elsif page == 1 %}
						<li><a class="notSelected" href="{{ site.url }}">{{ page }}</a></li>
						{% else %}
						<li><a class="notSelected" href="{{ site.url | append: "/page" | append: page }}">{{ page }}</a></li>
						{% endif %}
						{% endif %}
						{% endfor %}
						<li>
							{% if paginator.next_page %}
							<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next
								&raquo;</a>
							{% endif %}
						<li>
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>