<!DOCTYPE html>
<html lang="en">
<head>
    {% include_cached analytics.html %}
    {% include_cached theme_preconnect.html %}
    <meta property="fb:app_id" content="546340859299297" />
    {% assign media = "/assets/images/logo-large-min.png" %}
    {% capture gen_image %}{% generated_image_path %}{% endcapture %}
    {% if gen_image and gen_image != empty and gen_image != blank %}
    {% assign media = gen_image %}
    {% endif %}
    {% include theme_meta.html %}
    <meta property="og:image" content="{{ media }}" />
    <meta name="keywords" content="sebs scholarship blog, blog, sebs school, school of engineering and biomedical science, sebs scholarship foundation blog, pueblo, charity, {{ page.keywords }}">
    {% include theme_links.html %}
    {% include_cached theme_styles.html %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
{% include_cached loader.html %}
{% include navbar.html %}
{{ content }}
<!-- END section -->
{% include_cached footer.html prefix="https://sebsscholarship.org/" %}
{% include theme_js.html %}
</body>
</html>