<!DOCTYPE html>
<html lang="en">
<head>
    {% include analytics.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if page.title %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}" />
    {% endif %}
    {% if page.is_post %}
    <meta name="description" content="{{ page.content | strip_html | truncatewords:50 }}">
    <meta name="author" content="{{ page.author }}">
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ page.content | strip_html | truncatewords:50 }}">
    <meta property="og:article:author" content="{{ page.author }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.cover_img %}
    <meta property="og:image" content="{{ site.url | append: page.cover_img }}" />
    {% else %}
    <meta property="og:image" content="{{ site.url | append: "/assets/images/logo-large-min.png" }}" />
    {% endif %}
    <meta name="keywords" content="sebs scholarship blog, blog, sebs school, school of engineering and biomedical science, sebs scholarship foundation blog, pueblo, charity, {{ page.keywords }}">
    <meta property="og:url" content="{{ site.url | append: page.url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400">
    <link rel="canonical" href="{{ "https://blog.sebsscholarship.org" | append: page.url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="assets/images/browserconfig.xml">
    <meta name="theme-color" content="#800000">
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
<nav class="navbar navbar-expand-lg navbar-light pb_navbar light pb_scrolled-light" id="pb-navbar">
    <div class="container">
        <a class="navbar-brand navbar-brand-lg smoothscroll no-nav-expand" href="/"><img src="/assets/images/logo-min.png" alt=""></a>
        <a class="navbar-brand navbar-brand-lg smoothscroll no-nav-expand" href="/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="https://sebsscholarship.org">SEBS Scholarship Website</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/sebsscholarship">Facebook</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/company/sebs-scholarship-foundation">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
{{ content }}
<!-- END section -->
<footer class="pb_footer bg-light" role="contentinfo">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/sebsscholarship" class="p-2" target="_blank" rel="noopener">
                            <i aria-hidden="true" class="fa fa-facebook" title="Follow on Facebook"></i>
                            <span class="sr-only">Follow on Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/sebs-scholarship-foundation" class="p-2" target="_blank" rel="noopener">
                            <i aria-hidden="true" class="fa fa-linkedin" title="Follow on LinkedIn"></i>
                            <span class="sr-only">Follow on LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <p><a href="https://sebsscholarship.org/privacy_policy.html">Privacy Policy</a></p>
                    </li>
                </ul>
                <p class="pb_font-14">Copyright &copy; <span id="year">2020</span> <a class="smoothscroll no-nav-expand" href="https://sebsscholarship.org">SEBS Scholarship Foundation</a>. All Rights Reserved.</p>
                <p>Website created by Levi Muniz.</p>
                <hr>
                <p>
                    SEBS Scholarship Foundation does not and shall not discriminate on the basis of race, color,
                    religion (creed), gender, gender expression, age, national origin (ancestry), disability,
                    marital status, sexual orientation, or military status, in any of its activities or
                    operations. These activities include, but are not limited to, hiring and firing of staff,
                    selection of volunteers and vendors, and provision of services. We are committed to
                    providing an inclusive and welcoming environment for all members of our staff, clients,
                    volunteers, subcontractors, vendors, and clients.
                </p>
                <p>Tax ID: 84-3017503</p>
            </div>
        </div>
    </div>
</footer>
<!-- loader -->
<div id="pb_loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#800000"/>
    </svg>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>