---
layout: default
---
<!-- Load Facebook SDK for JavaScript -->
{% assign media = "/assets/images/logo-large-min.png" %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<section class="pb_section">
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-lg-9">
                <h1 class="title font-weight-normal mb-3">{{ page.title }}</h1>
                <hr>
                <br>
                {% if page.cover_img %}
                {% assign media = page.cover_img %}
                <img src="{{ page.cover_img }}" alt="Cover Image" class="blog-cover-img mb-5">
                {% endif %}
                <div class="text-left post">
                    {{ content }}
                    <div class="align-middle">
                        <div class="social"><div class="fb-like" data-href="{{ site.url | append: page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div></div>
                        <div class="social"><script type="IN/Share" data-url="{{ site.url | append: page.url }}"></script></div>
                        <div class="social" style="margin-top: 3px"><a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{ site.url | append: page.url }}&media={{ site.url | append: media }}&description={{ page.content | strip_html | truncatewords:50 }}"></a></div>
                    </div>
                    <div style="clear: both;"></div>
                    <hr>
                    <p><i>Keep in touch! Subscribe to the <a href="https://sebsscholarship.org/email/subscribe.html">SSF Newsletter</a> today for quarterly updates!</i></p>
                    <p><i>Have any questions you'd like to ask, requests for articles, or feedback? Email us at <a href="mailto:blog@sebsscholarship.org">blog@sebsscholarship.org</a>.</i></p>
                    <p><i>Written by {{ page.author }} on {{ page.date | date: "%b %d, %Y"}}</i></p>
                    <div class="fb-comments" data-href="{{ site.url | append: page.url }}" data-numposts="5" data-width="100%"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" async defer src="https://assets.pinterest.com/js/pinit.js" data-pin-zero="true" data-pin-count="beside"></script>