---
layout: default

defaults:
  -
    scope:
      path: ""
      type: posts
    values:
      is_post: true

---

<section class="pb_section">
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-lg-9">
                <h1 class="title font-weight-normal mb-3">{{ page.title }}</h1>
                <hr>
                <br>
                <div class="text-left post">
                    {{ content }}
                    {% include facebook_share.html %}
                    {% include linkedin_share.html %}
                </div>
            </div>
        </div>
    </div>
</section>